/* Import default values which are defined in the
defaults.css file. This holds the general values
which are used all across the theme */
@import url(defaults.css);

/* Smooth scrolling */
html {
  scroll-behavior: smooth;
}

/* Overide the base margin settings for bootstrap
This overide affects the whole page-wide layout */
body,
h1,
h2,
h3,
h4,
p,
ol[class],
ul[class],
li {
  margin: 0;
}

body {
  text-rendering: optimizeLegibility;
  -webkit-hyphens: auto;
  overflow-x: hidden;
  margin: 0 auto;
  line-height: 1.5;
  color: var(--pst-color-text-base);
  text-align: justify;
  hyphens: auto;
  counter-reset: figure 0;
}

h1 {
  margin-top: 3.5rem;
  margin-bottom: 1.625rem;
  font-size: 2.3rem;
  text-align: center;
}

h2 {
  margin-top: 3rem;
  font-size: 1.5rem;
}

h3 {
  margin-top: 2.5rem;
  font-size: 1.4rem;
}

h4 {
  margin-top: 2rem;
  font-size: 1.3rem;
}

h5 {
  margin-top: 1.8rem;
  font-size: 1.2rem;
}

h6 {
  margin-top: 2.5rem;
  font-size: 1rem;
  font-style: italic;
  font-weight: normal;
}

h3,
h4,
h5,
h6 {
  line-height: 1.625rem;
}

h1+h2 {
  margin-top: 1.625rem;
}

h2+h3,
h3+h4,
h4+h5 {
  margin-top: 0.8rem;
}

h5+h6 {
  margin-top: -0.8rem;
}

h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 1rem;
}

p {
  margin: 1rem 0;
  font-size: 1.3rem;
}

table {
  width: 100%;
}

td {
  padding: 0.3rem 1rem;
  text-align: center;
  vertical-align: center;
}

a,
a:active,
a:hover,
a:not([class]),
a:visited,
.navbar-brand:hover:hover,
.navbar-brand:visited:hover:hover {
  text-decoration-skip-ink: auto;
  text-decoration: none;
}

label.sidebar-toggle.primary-toggle {
  display: none;
}

dt:target,
span.highlighted {
  background-color: transparent;
  border: 0.125rem solid var(--pst-color-success);
}

nav.bd-links .current>a {
  box-shadow: none;
  text-align: left;
}

nav.bd-links p.caption {
  font-weight: bold;
}

nav.bd-links li>a:hover {
  text-decoration: none;
}

div#searchbox p.highlight-link {
  box-shadow: 0 0 0 0 var(--pst-color-shadow) !important;
  display: flex;
  justify-content: center;
  width: auto;
  margin: 0;
}

div#searchbox p.highlight-link a {
  padding: 0.5rem 1rem;
  transition: box-shadow .25s ease-out;
  background-color: var(--pst-color-danger);
  border-radius: 0;
  color: var(--pst-color-muted-highlight);
}

div#searchbox p.highlight-link a::before {
  content: none;
}

span.caption-text {
  font-weight: bolder;
}

div.toctree-wrapper.compound * {
  color: var(--pst-color-text-base);
  overflow: hidden;
  text-align: left;
}

div.toctree-wrapper.compound>ul>li {
  margin-bottom: 1rem;
}

div.toctree-wrapper.compound>ul>li>a {
  font-weight: bolder;
}

footer.bd-footer-content {
  border-top: 0;
  font-size: 1.3rem;
}

pre {
  font-size: 1rem;
  background-color: none;
}

pre>span {
  font-weight: 200;
}

html[data-theme="light"] .highlight span.linenos {
  color: var(--pst-color-attention);
  padding-right: 2rem;
}

html[data-theme="light"] .highlight {
  border-radius: 0.5rem;
}

html[data-theme="light"] .highlight .hll {
  background-color: #fff8c5;
}

html[data-theme="light"] .highlight .nc,
html[data-theme="light"] .highlight .no {
  color: #953800;
}

html[data-theme="light"] .highlight .n,
html[data-theme="light"] .highlight .nv,
html[data-theme="light"] .highlight .o,
html[data-theme="light"] .highlight .si {
  color: var(--pst-color-text-base);
}

html[data-theme="light"] .highlight .nb,
html[data-theme="light"] .highlight .nf {
  color: #8250df !important;
}

html[data-theme="light"] .highlight .mf,
html[data-theme="light"] .highlight .mh,
html[data-theme="light"] .highlight .mi,
html[data-theme="light"] .highlight .mo,
html[data-theme="light"] .highlight .sb,
html[data-theme="light"] .highlight .sc,
html[data-theme="light"] .highlight .sd,
html[data-theme="light"] .highlight .s2,
html[data-theme="light"] .highlight .se,
html[data-theme="light"] .highlight .sh,
html[data-theme="light"] .highlight .sx,
html[data-theme="light"] .highlight .sr,
html[data-theme="light"] .highlight .s1,
html[data-theme="light"] .highlight .ss,
html[data-theme="light"] .highlight .il {
  color: #0550ae;
}

div.literal-block-wrapper div.code-block-caption {
  background-color: #f6f8fa;
  font-family: var(--pst-font-family-monospace-system);
  color: var(--pst-color-attention);
}

div.literal-block-wrapper div.code-block-caption::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 300;
  content: "\f1c9";
  margin-left: 1rem;
  margin-right: 1.5rem;
  color: var(--pst-color-attention);
}

div.literal-block-wrapper {
  border-radius: 0.5rem;
}

div.literal-block-wrapper div.code-block-caption {
  border-radius: 0.5rem 0.5rem 0rem 0rem;
}

div.highlight button.copybtn {
  font-family: var(--pst-font-family-monospace-system);
}

footer.bd-footer-content .bd-footer-content__inner {
  display: none;
}

code.literal {
  border-radius: 0.5rem;
}

pre {
  border-radius: .5rem;
}

blockquote.epigraph,
blockquote.highlights,
blockquote.pull-quote {
  margin: 0;
  padding: 1rem 2.5rem;
  background-color: var(--pst-color-background);
  font-size: 1.1rem;
  font-style: italic;
}

blockquote p {
  margin: 0;
  padding: 0;
  text-align: center;
}

kbd:not(.compound) {
  box-shadow: 1px 1px 1px var(--pst-color-shadow);
  border-radius: 0.4rem;
  box-shadow: 1px 1px 1px var(--pst-color-shadow);
  border-radius: 0.4rem;
  margin: 0 .3rem;
  padding: 0 .4rem;
  border: 1px solid var(--pst-color-border);
  border-radius: 0.4rem;
  font-family: var(--pst-font-family-keyboard);
  color: var(--pst-color-muted-highlight);
}

figcaption>p {
  -webkit-hyphens: auto;
  font-size: 1.1rem;
  text-align: justify;
  hyphens: auto;
}

figcaption>p .caption-text {
  counter-increment: figure;
}

figcaption>p .caption-text::before {
  content: "Fig. " counter(figure) ". ";
  font-weight: bold;
  color: var(--pst-color-text-muted);
}

img {
  border-radius: 1rem;
}

.admonition,
div.admonition {
  box-shadow: 0 0 0 0 transparent !important;
  margin: 1.5625em 2rem;
  overflow: hidden;
  padding: 0 .6rem .8rem;
  border: 0.07rem solid var(--pst-color-border);
  border-radius: 1rem;
}

.admonition>.admonition-title,
div.admonition>.admonition-title,
.admonition.note>.admonition-title,
div.admonition.note>.admonition-title {
  margin: 0 1rem;
  margin-top: 0.5rem;
  background-color: transparent;
}

.admonition>.admonition-title::after,
div.admonition>.admonition-title::after,
.admonition.note>.admonition-title::after,
div.admonition.note>.admonition-title::after {
  content: var(--pst-icon-info-circle);
  margin-left: -0.5rem;
  line-height: initial;
}

.admonition p.admonition-title~*,
div.admonition p.admonition-title~* {
  font-size: 1.2rem;
}

@media screen and (max-width: 60rem) {
  td {
    display: block;
  }

  label.sidebar-toggle.primary-toggle {
    display: block;
  }

  div#searchbox p.highlight-link a {
    font-size: 1rem;
  }

  p.affiliation-link {
    font-size: 1rem;
  }

  #pst-back-to-top {
    display: block;
  }

  .email-link {
    margin-bottom: 0;
  }
}

@media (min-width: 75rem) {
  #pst-back-to-top {
      display: block !important;
  }
}

#pst-back-to-top {
  font-family: var(--pst-font-family-monospace-system);
  right: 0vw;
  left: auto;
  background-color: #dc3545;
}

.bd-header-announcement {
  background-color: var(--pst-color-primary);
}

.bd-search i.fa-solid.fa-magnifying-glass {
  margin-left: 0.5rem;
}

.bd-search {
  padding-left: 1rem;
  border-radius: 3rem;
}

.bd-sidebar-primary {
  border-right: 0;
}

.bd-sidebar-primary::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.sidebar-nav-links {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: stretch;
  column-gap: 1rem;
}

.sidebar-nav-links>a {
  color: var(--pst-color-black-highlight);
}

.bd-sidebar-primary .navbar-icon-links {
  display: flex;
  justify-content: center;
}


.scrolled .bd-header-article {
  box-shadow: 0 0 0 0 var(--pst-color-shadow);
}

.search-button__wrapper.show i,
.search-button__wrapper.show input {
  font-size: 1.1rem;
  color: var(--pst-color-muted-highlight);
}

.search-button__wrapper.show .search-button__search-container {
  margin-top: 0;
}

.search-button-field {
  position: absolute;
  right: 1rem;
  width: auto;
  margin-left: 1rem;
  border: 0;
  background-color: var(--pst-color-surface-2);
}

.search-button-field:hover {
  background-color: var(--pst-color-surface-2);
  border: 0;
  vertical-align: middle;
}

.form-control {
  background-color: transparent;
  border: 0;
  border-radius: 0;
  line-height: 1.7;
}

.form-control:focus,
.form-control:focus-visible {
  outline: 0;
  width: 80%;
}

.navbar-nav li {
  text-align: left;
}

.navbar-brand .logo__title {
  display: flex;
  align-items: center;
  font-weight: bolder;
}

.navbar-brand p {
  margin: 0;
}

.navbar-brand {
  display: block;
  align-items: start;
  width: auto;
  font-size: 1.25rem;
}

.toctree-wrapper>ul {
  padding-left: 2rem;
  counter-reset: item;
}

.toctree-wrapper p.caption {
  margin-bottom: 3rem;
  font-size: 1.5em;
}

.bd-article-container h1,
.bd-article-container h2 {
  font-weight: bolder;
}

.headerlink {
  display: none;
}

.component-author {
  display: none;
}

.bd-footer {
  width: 100%;
  margin: 1rem auto;
  border-top: 0;
}

.bd-footer .footer-items__end,
.bd-footer .footer-items__center,
.bd-footer .footer-items__start {
  flex-direction: initial;
}

.bd-footer .bd-footer__inner {
  display: flex;
  flex-direction: column;
  padding: 0;
}

.bd-footer .footer-item p {
  margin: 0;
  font-size: 1rem;
  font-family: var(--pst-font-family-monospace-system);
  font-weight: 400;
  line-height: 1.2rem;
}

.github-sponsor-button {
  fill: #656d76;
  background-color: #f6f8fa;
  border-color: #1f232826;
  box-shadow: 0 0.0625rem 0 #1f23280a;
  width: 7rem;
  height: 2.2rem;
  margin: auto 0.125rem;
  padding: 0;
  background-color: #f6f8fa;
  border-color: #1f232826;
  border-radius: 0.4rem;
  font-size: 0.95rem;
  font-family: Arial, Helvetica, sans-serif;
  color: #24292f;
  vertical-align: middle;
}

.svg-inline--fa.fa-heart {
  color: #bf3989;
}

.x-follow-button {
  height: 2.2rem;
  background-color: #000;
  color: #fff;
  margin: auto 0.125rem;
  padding-top: 0.1875rem;
  padding-right: 0.75rem;
  padding-left: 0.75rem;
  border-style: none;
  border-radius: 1.2rem;
  font-size: 0.95rem;
  font-family: Arial, Helvetica, sans-serif;
  vertical-align: middle;
}

.linkedin-follow-button {
  height: 2.2rem;
  background-color: #0a66c2;
  color: #fff;
  margin: auto 0.125rem;
  padding-top: 0.1875rem;
  padding-right: 0.75rem;
  padding-left: 0.75rem;
  border-style: none;
  border-radius: 1.2rem;
  font-size: 0.95rem;
  font-family: "SF Pro Text", Helvetica, sans-serif;
  vertical-align: middle;
}

/* Custom L.E.A.R.N extension CSS classes and properties */
.preface-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "location-date author-name";
}

.location-date {
  justify-self: start;
  align-self: center;
  grid-area: location-date;
}

.author-name {
  justify-self: end;
  grid-area: author-name;
}

.learn-authors {
  color: var(--pst-color-text-base);
}

#authors {
  color: var(--pst-color-text-base);
  text-align: center;
}

.name-link,
.name-link>a {
  margin: 0.5rem 0;
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--pst-color-text-base);
  text-decoration: none;
}

.affiliation,
p.affiliation-link {
  margin-bottom: 0.3rem;
  font-size: 1.175rem;
  line-height: 0.8rem;
  color: var(--pst-color-text-base);
  text-align: center;
}

.email-link,
.email-link>a {
  margin-bottom: 2rem;
  font-size: 1.2rem !important;
  font-family: var(--pst-font-family-monospace-system);
  font-weight: 400;
  color: var(--pst-color-text-base);
  text-decoration: none;
}

.learn-abstract {
  max-width: 80%;
  margin: 2.5rem auto 2rem auto;
}

.abstract {
  margin: auto auto 2rem auto;
  font-weight: 400 !important;
}

.abstract::before {
  content: "Abstract. ";
  font-weight: bold;
  color: var(--pst-color-text-muted);
}

.learn-keywords {
  max-width: 80%;
  margin: 0 auto 2.5rem auto;
}

.keywords {
  margin: auto auto 2rem auto;
  font-weight: 400 !important;
  text-align: left;
}

.keywords::before {
  content: "Keywords: ";
  font-weight: bold;
  color: var(--pst-color-text-muted);
}

.learn-references ol {
  display: block;
  margin-left: 1rem;
  font-size: 1.2rem;
  text-align: left;
}

.learn-references>ol>li>p {
  font-size: 1.2rem;
  text-align: left;
  text-decoration: none;
}

.references-border {
  border: 0.125rem solid var(--pst-color-primary-link);
  font-size: 1.2rem;
  font-family: var(--pst-font-family-monospace-system);
}

.learn-tweet {
  max-width: 550px;
  margin: 2rem auto;
}

.learn-reading>p {
  margin: 0.5rem auto;
  font-size: 1rem;
  color: var(--pst-color-text-base);
  text-align: center;
}

.learn-reading>p::before {
  content: "Reading time. ";
  font-weight: bold;
  color: var(--pst-color-text-muted);
}
