/* Import default values which are defined in the
defaults.css file. This holds the general values
which are used all across the theme */
@import url(defaults.css);

/* Overide the base margin settings for bootstrap
This overide affects the whole page-wide layout */
body,
h1,
h2,
h3,
h4,
p,
ol[class],
ul[class],
li {
  margin: 0;
}

body {
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
  margin: 0 auto;
  line-height: 2rem;
  color: var(--pst-color-text-base);
  counter-reset: figure 0;
}

h1 {
  margin-top: 3.5rem;
  margin-bottom: 1.625rem;
  font-size: 2.5rem;
  text-align: center;
}

h2 {
  margin-top: 3rem;
  font-size: 1.7rem;
}

h3 {
  margin-top: 2.5rem;
  font-size: 1.4rem;
}

h4 {
  margin-top: 2rem;
  font-size: 1.2rem;
}

h5 {
  margin-top: 1.8rem;
  font-size: 1rem;
}

h6 {
  margin-top: 2.5rem;
  font-size: 1rem;
  font-style: italic;
  font-weight: normal;
}

h3,
h4,
h5,
h6 {
  line-height: 1.625rem;
}

h1+h2 {
  margin-top: 1.625rem;
}

h2+h3,
h3+h4,
h4+h5 {
  margin-top: 0.8rem;
}

h5+h6 {
  margin-top: -0.8rem;
}

h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 1rem;
}

p {
  margin: 1rem 0;
  font-size: 1.375rem;
  text-align: justify;
  word-spacing: -0.05em;
  hyphens: auto;
  -webkit-hyphens: auto;
}

table {
  width: 100%;
}

td {
  padding: 0.3rem 1rem;
  text-align: center;
  font-size: 1.375rem;
  vertical-align: center;
}

/* Show table vertically when on mobile */
@media screen and (max-width: 960px) {
  td {
    display: block;
  }
}

/* Disable underlining of hyperlinks */
a:not([class]),
a:hover {
  text-decoration-skip-ink: auto;
  text-decoration: none;
  color: var(--pst-color-text-base);
}

/* Disable navbar shadow */
.scrolled .bd-header-article {
  box-shadow: 0 0 0 0 var(--pst-color-shadow);
}

/* Hide toggle button when not on mobile */
label.sidebar-toggle.primary-toggle {
  display: none;
}

/* Show toggle button when on mobile */
@media screen and (max-width: 960px) {
  label.sidebar-toggle.primary-toggle {
    display: block;
  }
}

/* Searchbar font size */
.search-button__wrapper.show i,
.search-button__wrapper.show input {
  font-size: 1.3rem;
}

/* Searchbar magnifying glass left margin */
.bd-search i.fa-solid.fa-magnifying-glass {
  margin-left: 0.5rem;
}

/* Searchbar rounded radius setting */
.bd-search input {
  padding-left: 3.5rem;
  border-radius: 3rem;
}

/* Change highlighted text color */
dt:target,
span.highlighted {
  background-color: transparent;
  border: 0.125rem solid var(--pst-color-success);
}

/* Disable sidebar border */
.bd-sidebar-primary {
  border-right: 0;
}

/* Disable sidebar scrollbars but retain their functionality */
.bd-sidebar-primary::-webkit-scrollbar {
  width: 0;
  height: 0;
}

/* Center the hide search button */
div#searchbox p.highlight-link {
  box-shadow: 0 0 0 0 var(--pst-color-shadow) !important;
  display: flex;
  justify-content: center;
  width: auto;
  margin: 0;
}

/* Keep font size consistent on mobile */
@media screen and (max-width: 960px) {
  div#searchbox p.highlight-link a {
    font-size: 1rem;
  }
}


/* Contents inside the hide search button */
div#searchbox p.highlight-link a {
  padding: 0.5rem 1rem;
  transition: box-shadow .25s ease-out;
  background-color: var(--pst-color-danger);
  border-radius: 0;
  color: #fff;
}

/* FontAwesome glass before inside the hide search button */
div#searchbox p.highlight-link a::before {
  content: none;
}

/* Sidebar logo size settings */
.navbar-brand img {
  width: auto;
  max-width: 30%;
}

/* Sidebar logo area */
.navbar-brand {
  align-items: start;
  font-size: 1.25rem;
}

/* Align sidebar icons in center */
.bd-sidebar-primary .navbar-icon-links {
  display: flex;
  justify-content: center;
}

/* Table of content indentation */
.toctree-wrapper>ul {
  padding-left: 2rem;
}

/* Sidebar ToC text properties */
nav.bd-links p.caption {
  font-weight: bold;
}

/* Make titles bolder */
.bd-article-container h1,
.bd-article-container h2 {
  font-weight: bolder;
}

/* Disable # URL reference in the title */
.headerlink {
  display: none;
}

/* Disable footer border */
footer.bd-footer-content {
  border-top: 0;
  font-size: 1.3rem;
}

/* Increase code block font size */
pre {
  font-size: 1rem;
}

/* Do not show author name ``By Akshay...`` in footer */
.component-author {
  display: none;
}

/* Center copyright information */
footer.bd-footer-content .bd-footer-content__inner {
  display: flex;
  justify-content: center;
  padding: 0;
}

/* Inline code block section */
code.literal {
  padding: .2rem .5rem;
  border-radius: 0.5rem;
}

/* Code block section */
pre {
  border-radius: .5rem;
}

/* Epigraph section */
blockquote.epigraph,
blockquote.highlights,
blockquote.pull-quote {
  margin: 0;
  padding: 1rem 2.5rem;
  background-color: var(--pst-color-background);
  font-size: 1.1rem;
  font-style: italic;
}

/* Remove extra margin and padding from Epigraph section */
blockquote p {
  margin: 0;
  padding: 0;
}

/* Keyboard modifier */
kbd:not(.compound) {
  border: 1px solid var(--pst-color-border);
  box-shadow: 1px 1px 1px var(--pst-color-shadow);
  border-radius: 0.4rem;
  margin: 0 .3rem;
  padding: 0 .4rem;
  font-family: var(--pst-font-family-keyboard);
  color: var(--pst-color-muted-highlight);
}

/* Based on the solution provided here: https://stackoverflow.com/a/29849993 */
/* Centering and prefixing figures */
figcaption > p {
  text-align: center;
  font-size: 1.2rem;
}
figcaption > p .caption-text {
  counter-increment: figure;
}
figcaption > p .caption-text::before {
  content: "Fig. " counter(figure) ". ";
  font-weight: bold;
  color: var(--pst-color-text-muted);
}

/* Custom L.E.A.R.N extension CSS classes and properties */
/* Authors root class */
.learn-authors {
  color: var(--pst-color-text-base);
}

/* Author class */
#authors {
  text-align: center;
  color: var(--pst-color-text-base);
}

/* Author's name */
.name-link {
  margin: 0.5rem 0;
  font-size: 1.7rem;
  color: var(--pst-color-text-base);
  text-decoration: none;
}

/* Author's affiliation */
.affiliation,
p.affiliation-link {
  text-align: center;
  font-size: 1.2rem;
  line-height: 0.8rem;
  margin-bottom: 0.3rem;
  color: var(--pst-color-text-base);
}

/* Reduce affiliation font size when on mobile */
@media screen and (max-width: 960px) {
  .affiliation,
  p.affiliation-link {
    font-size: 1rem;
  }
}

/* Author's email */
.email-link {
  margin-bottom: 2rem;
  font-size: 1.1em !important;
  font-family: var(--pst-font-family-monospace-system);
  font-weight: bold;
  color: var(--pst-color-text-base);
  text-decoration: none;
}

/* Remove margin bottom for email when on mobile */
@media screen and (max-width: 960px) {
  .email-link {
    margin-bottom: 0;
  }
}

/* Abstract div class */
.learn-abstract {
  max-width: 86%;
  margin: 2.5rem auto;
}

/* Abstract text */
.abstract {
  margin: auto auto 2.5rem auto;
  font-weight: 400 !important;
}

/* Abstract prefix */
.abstract::before {
  content: "Abstract. ";
  font-weight: bold;
  color: var(--pst-color-text-muted);
}

/* References div class */
.learn-references ol {
  display: block;
  text-align: left;
  font-size: 1.375rem;
  margin-left: 1rem;
}

/* References list items */
.learn-references>ol>li>p {
  text-align: left;
}

/* References items border */
.references-border {
  border: 0.125rem solid var(--pst-color-primary-link);
  font-size: 1.375rem;
  font-family: var(--pst-font-family-monospace-system);
  color: var(--pst-color-text-base);
}
