/* Import default values which are defined in the
defaults.css file. This holds the general values
which are used all across the theme */
@import url(defaults.css);

/* Smooth scrolling */
html {
  scroll-behavior: smooth;
}

/* Overide the base margin settings for bootstrap
This overide affects the whole page-wide layout */
body,
h1,
h2,
h3,
h4,
p,
ol[class],
ul[class],
li {
  margin: 0;
}

body {
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
  margin: 0 auto;
  line-height: 1.7rem;
  color: var(--pst-color-text-base);
  counter-reset: figure 0;
  text-align: justify;
  hyphens: auto;
  -webkit-hyphens: auto;
}

h1 {
  margin-top: 3.5rem;
  margin-bottom: 1.625rem;
  font-size: 2.3rem;
  text-align: center;
}

h2 {
  margin-top: 3rem;
  font-size: 1.5rem;
}

h3 {
  margin-top: 2.5rem;
  font-size: 1.4rem;
}

h4 {
  margin-top: 2rem;
  font-size: 1.3rem;
}

h5 {
  margin-top: 1.8rem;
  font-size: 1.2rem;
}

h6 {
  margin-top: 2.5rem;
  font-size: 1rem;
  font-style: italic;
  font-weight: normal;
}

h3,
h4,
h5,
h6 {
  line-height: 1.625rem;
}

h1+h2 {
  margin-top: 1.625rem;
}

h2+h3,
h3+h4,
h4+h5 {
  margin-top: 0.8rem;
}

h5+h6 {
  margin-top: -0.8rem;
}

h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 1rem;
}

p {
  margin: 1rem 0;
  font-size: 1.3rem;
}

table {
  width: 100%;
}

td {
  padding: 0.3rem 1rem;
  text-align: center;
  vertical-align: center;
}

/* Show table vertically when on mobile */
@media screen and (max-width: 960px) {
  td {
    display: block;
  }
}

/* Announcement banner */
.bd-header-announcement {
  background-color: var(--pst-color-primary);
}

/* Disable underlining of hyperlinks */
a,
a:active,
a:hover,
a:not([class]),
a:visited,
.navbar-brand:hover:hover,
.navbar-brand:visited:hover:hover {
  text-decoration-skip-ink: auto;
  text-decoration: none;
}

/* Disable navbar shadow */
.scrolled .bd-header-article {
  box-shadow: 0 0 0 0 var(--pst-color-shadow);
}

/* Hide toggle button when not on mobile */
label.sidebar-toggle.primary-toggle {
  display: none;
}

/* Show toggle button when on mobile */
@media screen and (max-width: 960px) {
  label.sidebar-toggle.primary-toggle {
    display: block;
  }
}

/* Searchbar font size */
.search-button__wrapper.show i,
.search-button__wrapper.show input {
  font-size: 1.2rem;
}

/* Searchbar magnifying glass left margin */
.bd-search i.fa-solid.fa-magnifying-glass {
  margin-left: 0.5rem;
}

/* Searchbar rounded radius setting */
.bd-search {
  padding-left: 1rem;
  border-radius: 3rem;
}

/* Searchbar form control */
.form-control {
  background-color: transparent;
  border: 0;
  border-radius: 0;
  line-height: 1.7;
  color: var(--pst-color-muted-highlight);
}

/* Searchbar form control on focus */
.form-control:focus,
.form-control:focus-visible {
  outline: 0;
  width: 80%;
}

/* Change highlighted text color */
dt:target,
span.highlighted {
  background-color: transparent;
  border: 0.125rem solid var(--pst-color-success);
}

/* Disable sidebar border */
.bd-sidebar-primary {
  border-right: 0;
}

/* Disable sidebar scrollbars but retain their functionality */
.bd-sidebar-primary::-webkit-scrollbar {
  width: 0;
  height: 0;
}

/* Sidebar current disable vertical line */
nav.bd-links .current>a {
  box-shadow: none;
  text-align: left;
}

/* Bold home */
.navbar-brand .logo__title {
  font-weight: bolder;
}

/* Center the hide search button */
div#searchbox p.highlight-link {
  box-shadow: 0 0 0 0 var(--pst-color-shadow) !important;
  display: flex;
  justify-content: center;
  width: auto;
  margin: 0;
}

/* Keep font size consistent on mobile */
@media screen and (max-width: 960px) {
  div#searchbox p.highlight-link a {
    font-size: 1rem;
  }
}

/* Contents inside the hide search button */
div#searchbox p.highlight-link a {
  padding: 0.5rem 1rem;
  transition: box-shadow .25s ease-out;
  background-color: var(--pst-color-danger);
  border-radius: 0;
  color: var(--pst-color-background);
}

/* FontAwesome glass before inside the hide search button */
div#searchbox p.highlight-link a::before {
  content: none;
}

/* Sidebar logo size settings */
.navbar-brand img {
  width: auto;
  max-width: 30%;
}

/* Sidebar logo area */
.navbar-brand {
  align-items: start;
  font-size: 1.25rem;
}

/* Align sidebar icons in center */
.bd-sidebar-primary .navbar-icon-links {
  display: flex;
  justify-content: center;
}

/* Sidebar ToC text properties */
nav.bd-links p.caption {
  font-weight: bold;
}

/* Sidebar ToC disable underline */
nav.bd-links li>a:hover {
  text-decoration: none;
}

/* Table of content indentation */
.toctree-wrapper>ul {
  padding-left: 2rem;
  counter-reset: item;
}

/* ToC on index page title */
span.caption-text {
  font-weight: bolder;
}

/* Add margin to the contents text */
.toctree-wrapper p.caption {
  font-size: 1.5em;
  margin-bottom: 3rem;
}

/* Make ToC black */
div.toctree-wrapper.compound * {
  color: var(--pst-color-text-base);
  overflow: hidden;
}

/* Add space after non-numbered titles */
div.toctree-wrapper.compound>ul>li {
  margin-bottom: 1rem;
}

/* Make title in ToC bolder */
div.toctree-wrapper.compound>ul>li>a {
  font-weight: bolder;
}

/* Make titles bolder */
.bd-article-container h1,
.bd-article-container h2 {
  font-weight: bolder;
}

/* Disable # URL reference in the title */
.headerlink {
  display: none;
}

/* Disable footer border */
footer.bd-footer-content {
  border-top: 0;
  font-size: 1.3rem;
}

/* Increase code block font size */
pre {
  font-size: 1rem;
}

/* Do not show author name ``By Akshay...`` in footer */
.component-author {
  display: none;
}

/* Disable footer content copyright information */
footer.bd-footer-content .bd-footer-content__inner {
  display: none;
}

/* Disable footer line */
.bd-footer {
  border-top: 0;
  margin: 1rem auto;
  width: 100%;
}

/* Center copyright information */
.bd-footer .footer-items__center,
.bd-footer .footer-items__end,
.bd-footer .footer-items__start {
  flex-direction: initial;
}

/* Center last updated below footer */
.bd-footer .bd-footer__inner {
  flex-direction: column;
  padding: 0;
}

/* Remove spaces between footer content */
.bd-footer .footer-item p {
  margin: 0;
}

/* Inline code block section */
code.literal {
  padding: .2rem .5rem;
  border-radius: 0.5rem;
}

/* Code block section */
pre {
  border-radius: .5rem;
}

/* Epigraph section */
blockquote.epigraph,
blockquote.highlights,
blockquote.pull-quote {
  margin: 0;
  padding: 1rem 2.5rem;
  background-color: var(--pst-color-background);
  font-size: 1.1rem;
  font-style: italic;
}

/* Remove extra margin and padding from Epigraph section and
centering the text */
blockquote p {
  margin: 0;
  padding: 0;
  text-align: center;
}

/* Keyboard modifier */
kbd:not(.compound) {
  border: 1px solid var(--pst-color-border);
  box-shadow: 1px 1px 1px var(--pst-color-shadow);
  border-radius: 0.4rem;
  margin: 0 .3rem;
  padding: 0 .4rem;
  font-family: var(--pst-font-family-keyboard);
  color: var(--pst-color-muted-highlight);
}

/* Based on the solution provided here: https://stackoverflow.com/a/29849993 */
/* Centering and prefixing figures */
figcaption>p {
  font-size: 1.1rem;
  text-align: justify;
  hyphens: auto;
  -webkit-hyphens: auto;
}

/* Increment all the elements which have class "caption-text" by 1 */
figcaption>p .caption-text {
  counter-increment: figure;
}

/* Prefix figure number based on the increment */
figcaption>p .caption-text::before {
  content: "Fig. " counter(figure) ". ";
  font-weight: bold;
  color: var(--pst-color-text-muted);
}

img {
  border-radius: 1rem;
}

/* Utterances frame resizing */
.utterances {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}

/* Custom GitHub sponsor button */
.sponsor-button {
  height: 2.2rem;
  width: 7rem;
  float: right;
  fill: #656d76;
  background-color: #f6f8fa;
  border-color: #1f232826;
  box-shadow: 0 0.0625rem 0 #1f23280a;
  color: #24292f;
  margin: auto 0.125rem;
  padding: 0;
  border-radius: 0.4rem;
  vertical-align: middle;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.95rem;
}

/* Sponsor button color */
.svg-inline--fa.fa-heart {
  color: #bf3989;
}

/* Custom X follow button */
.follow-button {
  height: 2.2rem;
  background-color: #000;
  float: right;
  color: #fff;
  margin: auto 0.125rem;
  padding-top: 0.1875rem;
  padding-right: 0.75rem;
  padding-left: 0.75rem;
  border-radius: 1.2rem;
  vertical-align: middle;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.95rem;
  border-style: none;
}

/* Admonition Settings */
.admonition,
div.admonition {
  border: 0.07rem solid var(--pst-color-border);
  border-radius: 1rem;
  box-shadow: 0 0 0 0 transparent !important;
  margin: 1.5625em 2rem;
  overflow: hidden;
  padding: 0 .6rem .8rem;
}

/* Admonition title */
.admonition>.admonition-title,
div.admonition>.admonition-title,
.admonition.note>.admonition-title,
div.admonition.note>.admonition-title {
  background-color: transparent;
  margin: 0 1rem;
  margin-top: 0.5rem;
}

/* Admonition icon */
.admonition>.admonition-title::after,
div.admonition>.admonition-title::after,
.admonition.note>.admonition-title::after,
div.admonition.note>.admonition-title::after {
  margin-left: -0.5rem;
  content: var(--pst-icon-info-circle);
  line-height: initial;
}

/* Admonition text */
.admonition p.admonition-title~*,
div.admonition p.admonition-title~* {
  font-size: 1.2rem;
}

/* Custom L.E.A.R.N extension CSS classes and properties */
/* Preface settings */
.preface-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "location-date author-name";
}

/* Location and date settings */
.location-date {
  justify-self: start;
  align-self: center;
  grid-area: location-date;
}

/* Author name with alignment */
.author-name {
  justify-self: end;
  grid-area: author-name;
}

/* Authors root class */
.learn-authors {
  color: var(--pst-color-text-base);
}

/* Author class */
#authors {
  text-align: center;
  color: var(--pst-color-text-base);
}

/* Author's name */
.name-link,
.name-link>a {
  margin: 0.5rem 0;
  font-size: 1.4rem;
  font-weight: 600;
  text-decoration: none;
  color: var(--pst-color-text-base);
}

/* Author's affiliation */
.affiliation,
p.affiliation-link {
  text-align: center;
  font-size: 1.175rem;
  line-height: 0.8rem;
  margin-bottom: 0.3rem;
  color: var(--pst-color-text-base);
}

/* Reduce affiliation font size when on mobile */
@media screen and (max-width: 960px) {

  .affiliation,
  p.affiliation-link {
    font-size: 1rem;
  }
}

/* Author's email */
.email-link,
.email-link>a {
  margin-bottom: 2rem;
  font-size: 1.2rem !important;
  font-family: var(--pst-font-family-monospace-system);
  font-weight: 400;
  color: var(--pst-color-text-base);
  text-decoration: none;
}

/* Remove margin bottom for email when on mobile */
@media screen and (max-width: 960px) {
  .email-link {
    margin-bottom: 0;
  }
}

/* Abstract div class */
.learn-abstract {
  max-width: 80%;
  margin: 2.5rem auto 2rem auto;
}

/* Abstract text */
.abstract {
  margin: auto auto 2rem auto;
  font-weight: 400 !important;
}

/* Abstract prefix */
.abstract::before {
  content: "Abstract. ";
  font-weight: bold;
  color: var(--pst-color-text-muted);
}

/* Keywords div class */
.learn-keywords {
  max-width: 80%;
  margin: 0 auto 2.5rem auto;
}

/* Keywords text */
.keywords {
  margin: auto auto 2rem auto;
  font-weight: 400 !important;
}

/* Keywords prefix */
.keywords::before {
  content: "Keywords: ";
  font-weight: bold;
  color: var(--pst-color-text-muted);
}

/* References div class */
.learn-references ol {
  display: block;
  text-align: left;
  font-size: 1.2rem;
  margin-left: 1rem;
}

/* References list items */
.learn-references>ol>li>p {
  text-align: left;
  font-size: 1.2rem;
  text-decoration: none;
}

/* References items border */
.references-border {
  border: 0.125rem solid var(--pst-color-primary-link);
  font-size: 1.2rem;
  font-family: var(--pst-font-family-monospace-system);
}

/* Tweets root class */
.learn-tweet {
  max-width: 550px;
  margin: 2rem auto;
}

/* Reading prompt root class */
.learn-reading>p {
  text-align: center;
  font-size: 1rem;
  color: var(--pst-color-text-base);
  margin: 0.5rem auto;
}

/* Reading time prefix */
.learn-reading>p::before {
  content: "Reading time. ";
  font-weight: bold;
  color: var(--pst-color-text-muted);
}
