@import url(../fonts/cmun-bright-semibold.css);
@import url(../fonts/cmun-bright.css);
@import url(../fonts/cmun-classical-serif-italic.css);
@import url(../fonts/cmun-concrete.css);
@import url(../fonts/cmun-sans-demicondensed.css);
@import url(../fonts/cmun-sans.css);
@import url(../fonts/cmun-serif-slanted.css);
@import url(../fonts/cmun-serif.css);
@import url(../fonts/cmun-typewriter-light.css);
@import url(../fonts/cmun-typewriter-variable.css);
@import url(../fonts/cmun-typewriter.css);
@import url(../fonts/cmun-upright-italic.css);

html {
  --pst-header-height: 4rem;
  --pst-header-article-height: calc(var(--pst-header-height) * 2 / 3);
  --pst-sidebar-secondary: 17rem;
  --pst-font-family-base-system: "Computer Modern Serif", serif;
  --pst-font-family-monospace-system: "Computer Modern Typewriter", serif;
  --pst-font-family-base: var(--pst-font-family-base-system);
  --pst-font-family-heading: var(--pst-font-family-base-system);
  --pst-font-family-monospace: var(--pst-font-family-monospace-system);
  --pst-admonition-font-weight-heading: 600;
  --pst-font-size-base: 1rem;
  --pst-font-size-h1: 2.1875rem;
  --pst-font-size-h2: 1.875rem;
  --pst-font-size-h3: 1.5625rem;
  --pst-font-size-h4: 1.5rem;
  --pst-font-size-h5: 1.25rem;
  --pst-font-size-h6: 1.1rem;
  --pst-font-size-icon: 1.5rem;
  --pst-font-size-milli: 0.9rem;
  --pst-font-weight-caption: 300;
  --pst-font-weight-heading: 600;
  --pst-sidebar-font-size-mobile: 1.1rem;
  --pst-sidebar-font-size: 1.03rem;
  --pst-sidebar-header-font-size: 1.2rem;
  --pst-sidebar-header-font-weight: 600;
  --pst-icon-angle-left: "\f104"; /* fa-solid fa-angle-left */
  --pst-icon-angle-right: "\f105"; /* fa-solid fa-angle-right */
  --pst-icon-bars: "\e24e"; /* fa-solid fa-bars */
  --pst-icon-bell: "\f0f3"; /* fa-solid fa-bell */
  --pst-icon-check-circle: "\f058"; /* fa-solid fa-circle-check */
  --pst-icon-download: "\f56e"; /* fa-solid fa-file-export */
  --pst-icon-exclamation-circle: "\f06a"; /* fa-solid fa-circle-exclamation */
  --pst-icon-exclamation-triangle: "\f071"; /* fa-solid fa-triangle-exclamation */
  --pst-icon-expand: "\f424"; /* fa-solid fa-expand */
  --pst-icon-external-link: "\f35d"; /* fa-solid fa-up-right-from-square */
  --pst-icon-github: "\f09b"; /* fa-brands fa-github */
  --pst-icon-gitlab: "\f296"; /* fa-brands fa-gitlab */
  --pst-icon-info-circle: "\f05a"; /* fa-solid fa-circle-info */
  --pst-icon-lightbulb: "\f0eb"; /* fa-solid fa-lightbulb */
  --pst-icon-pencil: "\f303"; /* fa-solid fa-pencil */
  --pst-icon-search-minus: "\f010"; /* fa-solid fa-magnifying-glass-minus */
  --pst-icon-share: "\f064"; /* fa-solid fa-share */
  --pst-icon-times-circle: "\f057"; /* fa-solid fa-circle-xmark */
  --pst-breadcrumb-divider: "\f105";
  --pst-icon-admonition-attention: var(--pst-icon-exclamation-circle);
  --pst-icon-admonition-caution: var(--pst-icon-exclamation-triangle);
  --pst-icon-admonition-danger: var(--pst-icon-exclamation-triangle);
  --pst-icon-admonition-default: var(--pst-icon-bell);
  --pst-icon-admonition-error: var(--pst-icon-times-circle);
  --pst-icon-admonition-hint: var(--pst-icon-lightbulb);
  --pst-icon-admonition-important: var(--pst-icon-exclamation-circle);
  --pst-icon-admonition-note: var(--pst-icon-info-circle);
  --pst-icon-admonition-seealso: var(--pst-icon-share);
  --pst-icon-admonition-tip: var(--pst-icon-lightbulb);
  --pst-icon-admonition-todo: var(--pst-icon-pencil);
  --pst-icon-admonition-warning: var(--pst-icon-exclamation-triangle);
  --pst-icon-versionmodified-added: var(--pst-icon-exclamation-circle);
  --pst-icon-versionmodified-changed: var(--pst-icon-exclamation-circle);
  --pst-icon-versionmodified-default: var(--pst-icon-exclamation-circle);
  --pst-icon-versionmodified-deprecated: var(--pst-icon-exclamation-circle);
  scroll-padding-top: calc(var(--pst-header-height) + 1rem);
  font-size: var(--pst-font-size-base);
}

html[data-theme="light"] {
  --pst-color-black-highlight: #000;
  --pst-color-black-text: #fff;
  --pst-color-black: #000;
  --pst-color-danger-highlight: #a71d2a;
  --pst-color-danger-text: #fff;
  --pst-color-danger: #dc3545;
  --pst-color-dark-highlight: #0c0c0c;
  --pst-color-dark-text: #fff;
  --pst-color-dark: #323232;
  --pst-color-info-highlight: #306e81;
  --pst-color-info-text: #fff;
  --pst-color-info: #459db9;
  --pst-color-light-highlight: #a3a3a3;
  --pst-color-light-text: #000;
  --pst-color-light: #c9c9c9;
  --pst-color-muted-highlight: #3e3e3e;
  --pst-color-muted-text: #fff;
  --pst-color-muted: #000;
  --pst-color-primary-highlight: #306e81;
  --pst-color-primary-text: #fff;
  --pst-color-primary: #3380b2;
  --pst-color-secondary-highlight: #cf6912;
  --pst-color-secondary-text: #fff;
  --pst-color-secondary: #ee9040;
  --pst-color-success-highlight: #19692c;
  --pst-color-success-text: #fff;
  --pst-color-success: #28a745;
  --pst-color-warning-highlight: #cf6912;
  --pst-color-warning-text: #fff;
  --pst-color-warning: #ee9040;
  --pst-color-white-highlight: #d9d9d9;
  --pst-color-white-text: #000;
  --pst-color-white: #fff;
  --sd-color-black-highlight: var(--pst-color-black-highlight);
  --sd-color-black-text: var(--pst-color-black-text);
  --sd-color-black: var(--pst-color-black);
  --sd-color-danger-highlight: var(--pst-color-danger-highlight);
  --sd-color-danger-text: var(--pst-color-danger-text);
  --sd-color-danger: var(--pst-color-danger);
  --sd-color-dark-highlight: var(--pst-color-dark-highlight);
  --sd-color-dark-text: var(--pst-color-dark-text);
  --sd-color-dark: var(--pst-color-dark);
  --sd-color-info-highlight: var(--pst-color-info-highlight);
  --sd-color-info-text: var(--pst-color-info-text);
  --sd-color-info: var(--pst-color-info);
  --sd-color-light-highlight: var(--pst-color-light-highlight);
  --sd-color-light-text: var(--pst-color-light-text);
  --sd-color-light: var(--pst-color-light);
  --sd-color-muted-highlight: var(--pst-color-muted-highlight);
  --sd-color-muted-text: var(--pst-color-muted-text);
  --sd-color-muted: var(--pst-color-muted);
  --sd-color-primary-highlight: var(--pst-color-primary-highlight);
  --sd-color-primary-text: var(--pst-color-primary-text);
  --sd-color-primary: var(--pst-color-primary);
  --sd-color-secondary-highlight: var(--pst-color-secondary-highlight);
  --sd-color-secondary-text: var(--pst-color-secondary-text);
  --sd-color-secondary: var(--pst-color-secondary);
  --sd-color-success-highlight: var(--pst-color-success-highlight);
  --sd-color-success-text: var(--pst-color-success-text);
  --sd-color-success: var(--pst-color-success);
  --sd-color-warning-highlight: var(--pst-color-warning-highlight);
  --sd-color-warning-text: var(--pst-color-warning-text);
  --sd-color-warning: var(--pst-color-warning);
  --sd-color-white-highlight: var(--pst-color-white-highlight);
  --sd-color-white-text: var(--pst-color-white-text);
  --sd-color-white: var(--pst-color-white);
  --pst-color-attention: #ffc107;
  --pst-color-text-base: #000;
  --pst-color-text-muted: #000;
  --pst-color-shadow: #d8d8d8;
  --pst-color-border: #c9c9c9;
  --pst-color-inline-code: #e83e8c;
  --pst-color-target: #fbe54e;
  --pst-color-background: #fff;
  --pst-color-on-background: #fff;
  --pst-color-surface: #f5f5f5;
  --pst-color-on-surface: #e1e1e1;
  --pst-color-link: var(--pst-color-primary);
  --pst-color-link-hover: var(--pst-color-warning);
}
